<extend name="Public/base" />
<block name='navi'><li>药材管理</li><li>价格管理</li></block>
<block name="body">
<div class="page-header"><h1>{$meta_title}</h1></div><div class="space"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-8">
            <form onsubmit="return false;" id="search-form">
                <div style="margin-bottom:10px;">                    	
                    <select name="cate_id">
                       	<option value="0">请选择分类</option>
                       	<foreach name="cates" item="vo" >
                       	    <option value="{$vo.id}">{$vo.title}</option>
                       	</foreach>								
					</select>                      
                    <input type="text" name="goods_name" class="input-sm" placeholder="请输入品名">                        
                    <a href="javascript:;" class="fm-button btn btn-sm btn-info search">查询</a>
                </div>
            </form>
        </div>
        <div class="col-xs-4">
            <a class="fm-button btn btn-sm btn-success pull-right" href="{:U('add')}">新 增</a>
        </div>
        <div class="col-xs-12" id="ajax_table">      
        	<include file='table'/>            
        </div>
    </div>
</div>
</block>
<block name="script">
<script>
	$(function(){
		$('#custom_id').on('click', function(){
			$.ajax({
		        url: "{:U('Goods/ajaxCustomGoods')}",
		        async: true,
		        dataType: 'html',
		        type: 'GET',			        
		        success: function(data, textStatus) {			        	
		        	$('#ajax_table2').html(data);			        	            
		        },
		        error: function(jqXHR, textStatus, errorThrown) {
		        	  
		            alert(jqXHR);
		        }
		    });
		});
	})
</script>
</block>