<extend name="Public/base" />
<block name='navi'><li>行情资讯</li><li>文章列表</li></block>
<block name="body">
    <div class="page-header"><h1>文章列表</h1></div>
    <div class="space"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <form onsubmit="return false;" id="search-form">
                    <div style="margin-bottom:10px;">                    	
                        <select name="cate_id">
                        	<option value="0">请选择栏目</option>
                        	<foreach name="cates" item="vo" >
                        	    <option value="{$vo.id}">{$vo.title}</option>
                        	</foreach>								
						</select>
                        <input type="text" name="title" class="input-sm" placeholder="请输入文章标题">                        
                        <a href="javascript:;" class="fm-button btn btn-sm btn-info search">查询</a>
                    </div>
                </form>
            </div>
            <div class="col-xs-6 ">
                <a class="fm-button btn btn-sm btn-success pull-right" href="{:U('add')}">新 增</a>
            </div>
            <div class="col-xs-12" id="ajax_table">      
            	<include file='table'/>            
            </div>
        </div>
    </div>
</block>