<extend name="Public/base" />
<block name='navi'><li>商品管理</li><li>药品管理</li></block>
<block name="body">
    <div class="page-header"><h1>药品趋势图</h1></div><div class="space"></div>
    <div class="row">
        <div class="col-xs-12">
        	<div class="tabbable">
        		<ul class="nav nav-tabs" id="myTab">
					<li class="active">
						<a data-toggle="tab" href="#home"><i class="green ace-icon fa fa-home bigger-120"></i>价格趋势图</a>
					</li>
					<li>
						<a data-toggle="tab" href="#messages" id="custom_id">数据</a>
					</li>
				</ul>
				<div class="tab-content">
					<div id="home" class="tab-pane fade in active">
						<div class="row">
							<div class="col-xs-12">
								<div id="line_chart">
								
								</div>
							</div>
						</div>		
					</div>
					<div id="messages" class="tab-pane fade">
						<div class="alert alert-danger">									
							该功能正在研发中
						</div>						
					</div>
				</div>
        	</div>
        </div>
    </div>
</block>
<block name="script">
	<script text="text/javascript" src="__STATIC__/highcharts/js/highstock.js"></script>
	<script>
		$(function(){
			var id = {$Think.get.id};
			Highcharts.setOptions({
				global: {
					useUTC: false
				},
				lang:{
					months:['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月','九月',  '十月','十一月', '十二月'],
					weekdays:['星期日',  '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
					rangeSelectorZoom: '请选择查看范围：',
					rangeSelectorFrom: '开始时间：',
					rangeSelectorTo: '结束时间：'				
				}
			});
			//http://www.hcharts.cn/datas/jsonp.php?filename=aapl-c.json&callback=?
			$.getJSON("{:U('')}", {id: id} , function (data) {
				
		        // Create the chart
		        $('#line_chart').highcharts('StockChart', {
		        	rangeSelector: {		        		
		        		buttons: [
    	        		  { type: 'week', count: 1, text: '1周' },
           		          { type: 'month', count: 1, text: '1月' }, 
           		          { type: 'month', count: 3, text: '3月' },
           		          { type: 'month', count: 6, text: '6月' },
           		          { type: 'ytd', text: '1季度' },
           		          { type: 'year', count: 1, text: '1年'},
           		          { type: 'all', text: '全部'}
           		        ],
		        		buttonTheme: {
			        		width: 36,
			        		height: 16,
			        		padding: 1,
			        		r: 0,
			        		stroke: '#68A',
			        		zIndex: 7
		        		},
		        		inputDateFormat: '%Y-%m-%d',
		        		inputEditDateFormat: '%Y-%m-%d',
		        		selected: 1//表示以上定义button的index,从0开始
		        	},	
		        	navigator: {
		        	    xAxis: {
		        	        labels: {
		        	            format: '{value:%Y-%m-%d}',
		        	            /*
		        	             * 也可以用 formatter 格式化函数，时间格式化说明如下：
		        	             * %Y  年
		        	             * %m  月 
		        	             * %d  日
		        	             * %H  时
		        	             * %M  分
		        	             * %S  秒
		        	             */
		        	            
		        	            /* formatter: function() {
		        	                return Highcharts.dateFormat('%Y-%m-%d', this.value);
		        	            }
		        	             */
		        	        }
		        	    }
		        	},
		        	xAxis : {  
		        	    type : 'datetime',  
		        	    dateTimeLabelFormats : {  
		        	        second : '%Y-%m-%d<br/>%H:%M:%S',  
		        	        minute : '%Y-%m-%d<br/>%H:%M',  
		        	        hour : ' ',  
		        	        day : '%Y<br/>%m-%d',  
		        	        week : '%Y<br/>%m-%d',  
		        	        month : '%Y-%m',  
		        	        year : '%Y'  
		        	    },
		        	    tickmarkPlacement: 'on', //刻度正位于刻度线下方
		        	},
		            title : {
		                text : '{$info.goods_name}'+ '价格趋势图'
		            },
		            tooltip: {
		                valueSuffix: ' 元',
		                xDateFormat: '%Y-%m-%d, %A'//鼠标移动到趋势线上时显示的日期格式  
		            },
		            legend: {
		            	enabled: false
		            },
		            credits: {
		    	    	enabled: false
		    	    },
		            series : [{
		                name : '价格',
		                data : data,
		                marker : {
		                    enabled : true,
		                    radius : 4,
		                    fillColor: 'red'
		                },
		                type: 'spline',
		                tooltip: {
		                    valueDecimals: 2
		                }
		            }]
		        });
		    });
			//导航高亮
			highlight_subnav("{:U('Goods/index')}");
		})
	</script>
</block>