<extend name="Public/base"/>
<block name='navi'><li>广告管理</li><li>专题管理</li></block>
<block name="body">	
<div class="page-header">
	<h1>{:isset($result['id'])?'编辑':'新增'}专题</h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#tab1"><i class="green ace-icon fa fa-home bigger-120"></i>基 础</a></li>
			<!-- <li><a data-toggle="tab" href="#tab2"><i class="green ace-icon fa fa-home bigger-120"></i>高 级</a></li> -->				
		</ul>
		<div class="tab-content">
			<form method="post" id="submit-form" class="form-horizontal" enctype="multipart/form-data">				
				<div id="tab1" class="tab-pane fade active in">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"><i class="ace-icon fa fa-asterisk red smaller-50"></i>&nbsp;&nbsp;展示平台：<span class="check-tips"></span></label>
						<div class="controls">
							<select style="hight:auto;" name="platform">
								<option>请选择</option>
								<option value="1">PC端</option>
								<option value="2">APP端</option>
							</select>													
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"><i class="ace-icon fa fa-asterisk red smaller-50"></i>&nbsp;&nbsp;标题：<span class="check-tips"></span></label>
						<div class="controls">
							<input type="text" name="title" class="col-xs-10 col-sm-5" value="{$info.title|default=''}"/>								
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"><i class="ace-icon fa fa-asterisk red smaller-50"></i>&nbsp;&nbsp;Banner图片：</label>							
						<span class="profile-picture">
							<img id="avatar" style="height:180px;min-width:240px" alt="Banner图片" src="{$info.img_url}" />
							<label class="ace-file-input">
								<input type="file" name="img" id="id-input-file-2" >
								<span class="ace-file-container" data-title="请选择">
									<span class="ace-file-name" data-title="选择图片"><i class=" ace-icon fa fa-upload"></i></span>
								</span>				
							</label> 	
						</span>														
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right">链接地址：</label>
						<div class="controls">
							<input type="text" name="link_url" class="col-xs-10 col-sm-5" value="{$info.link_url|default=''}">
						</div>
					</div>																	
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right">关键词：</label>
						<div class="controls">
							<input type="text" name="key_words" class="col-xs-10 col-sm-5" value="{$info.key_words|default=''}">								
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right">排序：</label>
						<div class="controls">
							<input type="text" name="sort" class="col-xs-10 col-sm-5" value="{$info.sort|default=0}">								
						</div>
					</div>					
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right">是否启用：</label>
						<div class="radio">
							<label>
								<input type="radio" name="status" class="ace" value="1" checked>									
								<span class="lbl"> 启用 </span>
							</label>
							<label>
								<input type="radio" name="status" class="ace" value="0">
								<span class="lbl"> 禁用 </span>
							</label>				
						</div>							
					</div>										
				</div>
				<div class="clearfix form-actions">		
					<div class="col-md-offset-3 col-md-9">
						<input type="hidden" name="id" value="{$info.id|default=''}">							
						<button type="submit" class="btn btn-info" id="submitBtn"><i class="ace-icon fa fa-check bigger-110"></i>确 定</button>
						<a class="btn btn-return" href="{:U('index')}"><i class="ace-icon fa fa-undo bigger-110"></i>返 回</a>
					</div>
				</div>
			</form>
		</div>
	</div>		
</div>
</block>
<block name="script">
<script type="text/javascript" src="__STATIC__/jquery.form.js"></script>
<script type="text/javascript">	
	$(function(){		
		/* 提交表单 */
		$('#submitBtn').on('click', function(){
			var _this = $(this);			
			_this.addClass('disabled');			
			var options = {
	            url: "{:U('')}",	            
	            success: function (req) {	                
	                if(req.code == 1) success(req.msg, req.url || true);
	                else fail(req.msg, _this);
	            },
	            error: function(XmlHttpRequest, textStatus, errorThrown){  
	            	_this.removeClass('disabled');
	            	alert('网络连接超时，请稍后再试');
	            }
	        };			
	        $("#submit-form").ajaxForm(options);
		});
		/* 上传头像 */
		$('#id-input-file-2').on('change',function(){
			//当没选中图片时，清除预览
	        if(this.files.length === 0){
	            document.querySelector('#avatar').src = '';
	            return;
	        }
	        
	        //实例化一个FileReader
	        var reader = new FileReader();
	        
	        reader.onload = function (e) {
	            //当reader加载时，把图片的内容赋值给
	            document.querySelector('#avatar').src = e.target.result;
	        };

	    	//读取选中的图片，并转换成dataURL格式
	    	reader.readAsDataURL(this.files[0]);
		});			
		//导航高亮
		highlight_subnav("{:U('Banner/index')}");
	})
	//编辑的时候赋值
	<present name="info">
		Think.setValue("platform", {$info.platform});
		Think.setValue("status", {$info.status});
	</present>
</script>
</block>
