<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>药都网找回密码</title>
    <link rel="shortcut icon" type="image/x-icon" href="__IMG__/logo-icon.ico">
    <link href="__CSS__/reset.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="header_bg">
        <div id="header" class="clearfix header-login">
            <a href="./index.html">
                <img src="__IMG__/logo_03.png" alt="" />
            </a>
            <i></i>
            <span>找回密码</span>
        </div>
    </div>
    <!--关于找回密码页面主体部分03-->
    <div class="middle-wrap register password clearfix">
        <div class="password-nav password3"></div>
        <div class="pwd3">
            <p><img src="__IMG__/right-icon.png"/>恭喜您，密码重置成功！</p>
            <a href="{:U('index')}">立即登录</a>
        </div>
    </div>
    <include file="Public/footer" />
</body>

</html>
