<extend name="./base" />
<block name="style">
	<link rel="stylesheet" type="text/css" href="__HOME__/goods/css/drugdetails.css" />
	<link rel="stylesheet" href="__HOME__/dlDS/css/titleDSG.css" />
	<script type="text/javascript">
		(function(){
			window.cache = {c:[]};			
		})();
	</script>
</block>
<block name="body">
	<include file="Public/common_nav" />
	<div class="detail-middle">
		<div class="detail-bread m-border">
			<i></i>	
			<b>当前位置：</b>&nbsp;<a href="/">首页</a>&nbsp;&gt;&nbsp;<a href="{:U('Goods/market')}">药材行情</a>
			<!--<a href="javascript:;"><?php $title = I('get.title'); if($title){ echo $title; }else{ echo I('get.q'); } ?></a>-->
			<?php $title = I('get.title');?>
			<if condition="$title">
				&nbsp;&gt;&nbsp;
				<a href="javascript:;">{$title}</a>
				<else/>
				<if condition="$q">
					&nbsp;&gt;&nbsp;
					<a href="">{$q}</a>
				</if>
				<if condition="$alias_name">
					<a href="">({$alias_name})</a>
				</if>
			</if>
		</div>	
		<div class="drugs-top" id="cate_nav">
			<notempty name="goods_name">
				<h2><i></i>已选择：{$cate_name|default=''}&nbsp;--&gt;&nbsp;{$goods_name|default=''}</h2>
			</notempty>
			<h2>请选择类别：</h2>
			<ul class="drugs-title clearfix">
				<notempty name="Think.get.cate_id">
					<li onclick="rload();">全部</li>	
				<else/>
					<li onclick="rload();" class="active first">全部</li>
				</notempty>				
				<foreach name="cates" item="vo" key="k">					
					<li <?php if(I('get.cate_id')==$vo['id']){echo 'class="active"';} ?> onclick="connector({$vo.id})">{$vo.title}</li>
			    </foreach>
		    </ul>
		    <div class="drugs-name"></div>
		    <foreach name="cates" item="vo" key="k">
		    	<div class="drugs-name" id="c-{$vo.id}" <?php if(I('get.cate_id')==$vo['id']){echo 'style="display:block;"';}else{echo 'style="display:none;"';} ?> ></div>		    	
		    </foreach>		    
		</div>
		
		<div class="marketInfo">
			<foreach name="list" item="vo" key="k" >
				<div class="m-lists">
					<h3><a href="{:U('goods/market_h',array('id'=>$vo['id']))}">{$vo.title}</a></h3>
					<p class="m-contain">
						{$vo.description}
					</p>
					<p class="m-first">作者：药都网&nbsp;&nbsp;<notempty name="vo.author">来源：{$vo.author}&nbsp;&nbsp;</notempty>时间：{$vo.update_time|date='Y-m-d',###}</p>
				</div>
			</foreach>				
		</div>
		{$pageHtml}
	</div>	
</block>
<block name="script">
	<script type="text/javascript">
		/* 加载求购列表页 */
		function rload(){
			window.location.href = "{:U('goods/market')}";
		}
		$(function(){
			//获取分类导航对象
			var cate_nav = $('#cate_nav');
			cate_nav.find('ul>li').on('click', function(){
				var inx = $(this).index();
				$(this).addClass('active').siblings().removeClass();
				if(this.innerHTML=='全部'){
					$(this).addClass('first');
				}else{
					$(this).removeClass('first');
				}
				if(inx != 0){
					cate_nav.find('div.drugs-name').eq(inx).show().siblings('div').hide();		
				}else{
					cate_nav.find('div.drugs-name').hide();
				}		
			});
			//绑定初始化药品分类
			var cate_id = "{$Think.get.cate_id}" || '';
			if(parseInt(cate_id) > 0){
				connector(cate_id);	
			}		
		});
		var gid = {$Think.get.id|default=0} ;
		/*关于热门药材*/
		function remen(cateid,array){
			var great='';
			great='<div class="remen"><span>热门：</span>';
			for(var i=0,len=array.length;i<len;i++){
				great+='<a href="/Goods/market/cate_id/'+cateid+'/id/'+array[i].id+'.html">'+array[i].goods_name+'</a>';
			}
			great+='</div>';
			return great;	
		}
		/* 异步调取药品方法 */
		function connector(cate_id){
			if(window.cache.c[cate_id]){
				return;
			}
			var wrap_id = '#c-' + cate_id;
			$.ajax({
	   		    url: "{:U('Demand/ajaxGetGoodsByCateId')}",
	   		    dataType: "json",  		    
	   		    type: "get",
	   		 	data: { cate_id: cate_id, id:gid, type: 1 },
	   		    beforeSend: function() {
	   		    	$(wrap_id).html('<img class="loadingimg" src="__IMG__/loading.gif" />');     
	   		    },
	   		    success: function(req) { 
	   		    	if(req.code == 1){
		   		    	var datas = req.data.goods,
		   		    		hot = req.data.hot,
							datasL = datas.length,
							max = datas[0].goods_name.length,
							arr =[];
						for(var i = 0; i < 4; i++) {
							var newArr = [];
							arr.push(newArr);
						}
	
						for(var i = 0; i < datasL; i++) {
							if(datas[i].goods_name.length <= 2) {
								arr[0].push(datas[i]);
							} else if(datas[i].goods_name.length == 3) {
								arr[1].push(datas[i]);
							} else if(datas[i].goods_name.length == 4) {
								arr[2].push(datas[i]);
							} else if(datas[i].goods_name.length >= 5) {
								arr[3].push(datas[i]);
							}
						}	
						var str = '';
						if(hot!=null){
							str = remen(cate_id,req.data.hot);
						}
						for(var i = 0; i < arr.length; i++) {	
							var classS = "";
							if(i == 0) {
								for(var j = 0; j < arr[i].length; j++) {
									if(gid == arr[i][j].id){
										classS = " class='active' ";
									}else{
										classS="";
									}
									if(j == arr[i].length - 1) {
										str += "<a href='/Goods/market/cate_id/" + cate_id + "/id/" + arr[i][j].id + ".html' "+ classS +">" + arr[i][j].goods_name + "</a><br/>";
									} else {
										str += "<a href='/Goods/market/cate_id/" + cate_id + "/id/" + arr[i][j].id + ".html' "+ classS +">" + arr[i][j].goods_name + "</a>";
									}
	
								}
							} else if(i == 1) {
								for(var j = 0; j < arr[i].length; j++) {
									if(gid == arr[i][j].id){
										classS = " class='active' ";
									}else{
										classS="";
									}
									if(j == arr[i].length - 1) {
										str += "<a href='/Goods/market/cate_id/" + cate_id + "/id/" + arr[i][j].id + ".html'"+ classS +">" + arr[i][j].goods_name + "</a><br/>";
									} else {
										str += "<a href='/Goods/market/cate_id/" + cate_id + "/id/" + arr[i][j].id + ".html'"+ classS +">" + arr[i][j].goods_name + "</a>";
									}
								}
							} else if(i == 2) {
								for(var j = 0; j < arr[i].length; j++) {
									if(gid == arr[i][j].id){
										classS = " class='active' ";
									}else{
										classS="";
									}
									if(j == arr[i].length - 1) {
										str += "<a href='/Goods/market/cate_id/" + cate_id + "/id/" + arr[i][j].id + ".html'"+ classS +">" + arr[i][j].goods_name + "</a><br/>";
									} else {
										str += "<a href='/Goods/market/cate_id/" + cate_id + "/id/" + arr[i][j].id + ".html'"+ classS +">" + arr[i][j].goods_name + "</a>";
									}
								}
							} else if(i == 3) {
								for(var j = 0; j < arr[i].length; j++) {
									if(gid == arr[i][j].id){
										classS = " class='active' ";
									}else{
										classS="";
									}
									if(j == arr[i].length - 1) {
										str += "<a href='/Goods/market/cate_id/" + cate_id + "/id/" + arr[i][j].id + ".html'"+ classS +">" + arr[i][j].goods_name + "</a><br/>";
									} else {
										str += "<a href='/Goods/market/cate_id/" + cate_id + "/id/" + arr[i][j].id + ".html'"+ classS +">" + arr[i][j].goods_name + "</a>";
									}
								}
							}
						}
						$(wrap_id).html(str);						
	   		    	}else{
	   		    		$(wrap_id).html('');
	   		    	}
	   		    	window.cache.c[cate_id] = true;
	   		    },		    
	   		    error: function() {   		        
	   		        $.custom('药都网温馨提示您：','网络连接超时，请您稍后重试');
	   		    }
	   		});
		}
	</script>
</block>