<div class="dataTables_wrapper form-inline no-footer">
    <table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="sample-table-2_info">
        <thead>
            <tr>
                <th>序号</th>
                <th>联系人</th>
                <th>联系电话</th>
                <th>分类</th>
                <th>品名</th>
                <th>规格</th>
                <th>数量</th>                
                <th>产地</th>                               
                <th>状态</th>
                <th>创建时间</th>                
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <?php $show_num = $data['show_num']; $page_num = $data['page_num']; ?>
            <foreach name="data.list" item="vo" key="k">
                <tr>
                    <td>{$show_num*($page_num-1)+$k+1}</td>
                    <td>{$vo.contacts}</td>
                    <td>{$vo.mobile}</td>
                    <egt name='vo.goods_id' value='150000'>
                    	<td></td>
                    	<td><span class='label label-warning arrowed arrowed-right'>{$vo.goods_name}</span></td>
                    	<td></td>
                    <else/>
                    	<td>{$vo.cate_name}</td>
                    	<td>{$vo.goods_name}</td>
                    	<td>{$vo.goods_attr_name}</td>
                    </egt>                    
                    <td>{$vo.num}</td>                    
                    <eq name='vo.origin_type' value='3'>
                    	<td style="max-width:120px;">{$vo.origin_type|get_origin_type}/{$vo.origin_area|default=''}</td>
                    <else/>
                    	<td>{$vo.origin_type|get_origin_type}</td>
                    </eq>              
                    <td>{$vo.status|get_demand_type}</td>
                    <td>{$vo.create_time|time_format}</td>                    
                    <td style="width:170px">
                        <div class="btn-toolbar opt-btn cf">
                            <a class="btn btn-minier btn-primary" href="{:U('detail?id='.$vo['id'])}" target="_blank">查看详情</a>
                            <a class="btn btn-minier btn-success" href="{:U('edit?id='.$vo['id'])}" target="_blank">编辑</a>
                            <a class="btn btn-minier btn-danger" href="javascript:alert('正在完善中');">删除</a>
                        </div>
                    </td>
                </tr>
            </foreach>
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-12">            
        	<include file='Public/pager' url="{:U('Demand/Index')}"/>           
        </div>
    </div>
</div>