<div class="aboutUs-nav l">
	<h2>关于药都网</h2>
	<div class="aboutUs-list">
		<ul>
			<li><a href="/about" <if condition="$act eq index">class="active"</if>>关于我们<span>&gt;</span></a></li>
			<li><a href="/about/business_culture" <if condition="$act eq business_culture">class="active"</if>>企业文化<span>&gt;</span></a></li>
			<li><a href="/about/expansion_path" <if condition="$act eq expansion_path">class="active"</if>>发展历程<span>&gt;</span></a></li>
			<li><a href="/about/team_mien" <if condition="$act eq team_mien">class="active"</if>>团队风采<span>&gt;</span></a></li>
			<li><a href="/about/media" <if condition="$act eq media">class="active"</if>>媒体报道<span>&gt;</span></a></li>
			<li><a href="/about/platform" <if condition="$act eq platform">class="active"</if>>最新公告<span>&gt;</span></a></li>
			<li><a href="/about/contact" <if condition="$act eq contact">class="active"</if>>联系我们<span>&gt;</span></a></li>
			<!--<li><a href="/about/suggest" <if condition="$act eq suggest">class="active"</if>>意见反馈<span>&gt;</span></a></li>-->
			<li><a href="/about/join_us" <if condition="$act eq join_us">class="active"</if>>诚聘英才<span>&gt;</span></a></li>
		</ul>
	</div>
</div>