<extend name="./base" />
<block name="style">
    <!--样式自定义开始-->
    <link rel="stylesheet" type="text/css" href="__HOME__/about/css/aboutUs.css" />
    <!--样式自定义结束-->
</block>
<block name="body">
	<!--主页内容开始-->
	<div class="aboutUs clearfix">		
		<include file="about_menu" />
		<!--关于我们开始-->
		<div class="aboutUs-main l">
			<div class="aboutUs-top">
				<h3>您所在的位置：<a href="{:U('Index/index')}">首页</a>&nbsp;&gt;&nbsp;<a href="javasrcipt:;">关于我们</a></h3>
			</div>
			<div class="aboutUs-title">
				<h2>关于我们</h2>
			</div>
			<div class="aboutUs-container about-index">
				<img src="__HOME__/about/images/about01.png"/>
				<p>药都网成立于2016年，坐落于全国最大的中药产业集群地药都亳州。</p>
				<p>药都网倾力打造国内最顶尖的中药材信息平台，专注于互联网信息时代的创新，为用户提供更好、更优、更人性化的服务是药都网坚持不懈的追求，也希望通过我们提供的服务可以给您带来更多便利。</p>
				<p>药都网开发的APP使全国用户实现“人在家中坐，交易天下货”。</p>
				<p>公司坚持以客户为中心、以奋斗者为本，持续改善公司治理架构、组织、流程，使公司长期保持有效增长。</p>
				<p>我们积极倾听客户需求,真诚提供满意服务,时刻铭记为客户服务是我们存在的唯一理由。</p>
			</div>
		</div>
		<!--关于我们结束-->	
	</div>
    <!--主页内容结束-->
</block>
<block name="script">
    <!--脚本自定义开始-->
    <script src="__HOME__/about/js/aboutUs.js" type="text/javascript" charset="utf-8"></script>
    <!--脚本自定义结束-->
</block>
