<div class="dataTables_wrapper form-inline no-footer">
    <table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="sample-table-2_info">
        <thead>
            <tr>
                <th>序号</th>
                <th>品名</th>
                <th>分类</th>                
                <th>是否推荐</th>
                <th>是否热门</th>
                <th>开启状态</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <?php $show_num = $data['show_num']; $page_num = $data['page_num']; ?>
            <foreach name="data.list" item="vo" key="k">
                <tr>
                    <td>{$show_num*($page_num-1)+$k+1}</td>
                    <td>{$vo.goods_name}</td>
                    <td>{$vo.title}</td>                    
                    <td>{$vo['is_hot']?'是':'否'}</td>
                    <td>{$vo['is_recom']?'是':'否'}</td>
                    <td>{$vo['status']?'是':'否'}</td>
                    <td>{$vo.sort}</td>
                    <td style="width:170px">
                        <div class="btn-toolbar opt-btn cf">
                            <a class="btn btn-minier btn-primary" href="{:U('edit?id='.$vo['id'])}" target='_blank'>编辑</a>
                            <a class="btn btn-minier <if condition='$vo.status == 1 '>btn-success</if> ajax-get" title="{$vo.status|show_status_op}" href="{:U('setStatus?ids='.$vo['id'].'&status='.abs(1-$vo['status']))}">{$vo.status|show_status_op}</a>
                            <a class="btn btn-minier btn-purple" href="{:U('trend?id='.$vo['id'])}" target='_blank'>查看趋势</a>
                        </div>
                    </td>
                </tr>
            </foreach>
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-12">            
        	<include file='Public/pager' url="{:U('Goods/Index')}"/>           
        </div>
    </div>
</div>