<extend name="Public/base"/>
<block name='navi'><li>商品管理</li><li>规格管理</li></block>
<block name="body">
<div class="page-header">
	<h1>{:isset($info['id'])?'编辑':'新增'}规格</h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#tab1"><i class="green ace-icon fa fa-home bigger-120"></i>基 础</a></li>
			<!-- <li><a data-toggle="tab" href="#tab2"><i class="green ace-icon fa fa-home bigger-120"></i>高 级</a></li> -->				
		</ul>
		<div class="tab-content">
			<form action="{:U('')}" method="post" id="submit-form" class="form-horizontal">					
				<div id="tab1" class="tab-pane fade active in">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"><i class="ace-icon fa fa-asterisk red smaller-50"></i>&nbsp;&nbsp属性名称：<span class="check-tips"></span></label>
						<div class="controls">
							<input type="text" name="attr_name" class="col-xs-10 col-sm-5" value="{$info.attr_name|default=''}"/>								
						</div>
					</div>											
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right">排序：</label>
						<div class="controls">
							<input type="text" name="sort" class="col-xs-10 col-sm-5" value="{$info.sort|default=0}">								
						</div>
					</div>					
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right">是否启用：</label>
						<div class="radio">
							<label>
								<input type="radio" name="status" class="ace" value="1" checked>									
								<span class="lbl"> 启用 </span>
							</label>
							<label>
								<input type="radio" name="status" class="ace" value="0">
								<span class="lbl"> 禁用 </span>
							</label>						
						</div>							
					</div>			
				</div>
				<div class="clearfix form-actions">		
					<div class="col-md-offset-3 col-md-9">
						<input type="hidden" name="id" value="{$info.id|default=''}">							
						<button type="button" id="submitBtn" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>确 定</button>
						<a class="btn btn-return" href="{:U('index')}"><i class="ace-icon fa fa-undo bigger-110"></i>返 回</a>
					</div>
				</div>
			</form>
		</div>
	</div>		
</div>
</block>
<block name="script">
<script type="text/javascript">
$(function(){
	/* 提交表单 */
	$('#submitBtn').on('click', function(){
		var _this = $(this);		
		_this.addClass('disabled');
		$.ajax({
            url: "{:U('')}",
            data: $('#submit-form').serialize(),
            type: "post",
            dataType: "json",
            success: function(req) {
                if(req.code == 1){
                	success(req.msg, req.url || true);
                }else{
                	fail(req.msg, _this);
                }                
            },
            error: function() {   		        
   		        alert('网络连接超时，请稍后再试');   
   		     	_this.removeClass('disabled');
   		    }
        });
	});
	//导航高亮
	highlight_subnav("{:U('Spec/index')}");
})
<present name="info">
	Think.setValue("status", {$info.status});
</present>	
</script>
</block>
