<extend name="Public/base"/>
<block name='navi'><li>广告管理</li><li>广告列表</li></block>
<block name="body">
	<div class="page-header"><h1>广告列表</h1></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <form onsubmit="return false;" id="search-form">
                    <div style="margin-bottom:10px;">
                    	<label for="">药品分类：
	                        <select name="cate_id">
	                        	<option value="0">选择分类</option>
	                        	<foreach name="class_list" item="vo" >
	                        	    <option value="{$vo.id}">{$vo.title}</option>
	                        	</foreach>								
							</select>&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                        <label for="">药品名称：
                            <input type="text" name="goods_name" style="vertical-align:middle;">
                        </label>
                        <a href="javascript:void(0)" class="fm-button btn btn-sm btn-info search">查询</a>
                    </div>
                </form>
            </div>
            <div class="col-xs-6 ">
                <a class="fm-button btn  btn-success pull-right" href="{:U('edit')}">新 增</a>
            </div>
            <div class="col-xs-12" id="ajax_table">      
            	<include file='table'/>            
            </div>
        </div>
    </div>
</block>
