 <div class="dataTables_wrapper form-inline no-footer">
	<table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="sample-table-2_info">
	    <thead>
	        <tr>
	            <th>序号</th>
	            <th>广告机编号</th>
	            <th>广告机位置</th>
	            <th>唯一机器码</th>
	            <th>添加时间</th>
	            <th>操作</th>
	        </tr>
	    </thead>
	    <tbody>
	    <?php $show_num = $data['show_num']; $page_num = $data['page_num']; ?>
	        <foreach name="data.list" item="vo" key="k">
	            <tr>
	                <td>{$show_num*($page_num-1)+$k+1}</td>
	                <td>{$vo.adnumber}</td>
	                <td>{$vo.adposition}</td>
	                <td>{$vo.machine_code}</td>
	                <td>{$vo.create_time|time_format}</td>
	                <td width="100px">
	                    <div class="btn-toolbar opt-btn cf">
	                        <a class="btn btn-minier btn-primary" href="{:U('edit?id='.$vo['id'])}" target="_blank">编辑</a>                                                         
	                        <a class="btn btn-minier btn-danger ajax_get confirm no-refresh" href="{:U('del?id='.$vo['id'])}">删除</a>
	                    </div>
	                </td>
	            </tr>
	        </foreach>
	    </tbody>
	</table>
	<div class="row">
	    <div class="col-xs-12">
	        <include file='Public/pager' url="{:U('AdMachine/Index')}" />
	    </div>
	</div>
</div>